
.carousel {
	// These convenience variables are set in runtime
	// Use them (wisely) to create nifty css effects
	--slidesCount: 0;
	--scrollPos: 0;
	--carouselWidth: 0;
	--itemsTotalWidth: 0;
	--backArrowDisplay: 'none';
	--forwardArrowDisplay: 'none';

	position: relative;

	.scroller {
		position: relative;
		overflow: auto;
		width: 100%;
		white-space: nowrap;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			height: 0;
			background: transparent;
		}

		.slide {
			display: inline-block;
			white-space: normal;

			&:focus {
				outline: none;
			}

			.hiddenAriaLabel {height: 0; }
		}
	}

	.carouselButton {
		cursor: pointer;

		&.back {
			display: var(--backArrowDisplay);
			opacity: min(calc(var(--scrollPos) / 20), 1);
		}

		&.forward {
			display: var(--forwardArrowDisplay);
			opacity: min(calc((var(--itemsTotalWidth) - var(--carouselWidth) - var(--scrollPos)) / 20), 1);
		}
	}

	.dots {
		position: absolute;
		white-space: nowrap;
		left: 50%;
		transform: translateX(-50%);
		bottom: -40px;

		.dot {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: #e0e0e0;
			border-radius: 10px;
			margin: 5px;
			cursor: pointer;

			&.focused {
				background: #a0a0a0;
			}
		}
	}
}