.carouselContainer {
	width: 700px;
	height: 200px;
	margin: 40px auto;

	.carousel {
		.scroller .slide {
			.carouselTestItem {
				width: 100px;
				height: 100px;
				padding: 20px;
				border: 2px solid #a0a0a0;
				border-radius: 5px;
				background: #e0e0e0;
				margin-right: 10px;
				scroll-snap-align: start;
			}

			&:last-child .carouselTestItem {
				margin-right: 0;
			}

			&:focus .carouselTestItem {
				border: 2px solid cornflowerblue;
				background: #c3d3ef;
			}
		}

		.carouselArrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			background: gray;

			&.back {
				left: -60px;
			}

			&.forward {
				right: -60px;
			}
		}

		.customDots {
			margin-top: 10px;
			background: beige;
			border: 1px solid #dcdcbd;
			padding: 10px;
		}
	}
}