.carouselContainer {
	width: 700px;
	height: 200px;
	margin: 40px auto;

	.carousel {
		.scroller .slide {
			.carouselTestItem {
				position: relative;
				width: 200px;
				height: 200px;
				border-radius: 5px;
				background: #e0e0e0;
				overflow: hidden;
				margin-right: 10px;
				scroll-snap-align: start;

				.slideNumber {
					position: absolute;
					left: 10px;
					top: 2px;
					font-size: 40px;
					font-weight: bolder;
					color: black;
					opacity: 0.5;
				}

				.text {
					position: absolute;
					color: white;
					text-shadow: 0 0 5px black;
					background: rgba(0,0,0,0.5);
					font-size: 11px;
					width: 160px;
					padding: 10px 20px;
					left: 0;
					bottom: 0;
					transform: translateY(100%);
					transition: transform 0.3s;
				}
			}

			&:last-child .carouselTestItem {
				margin-right: 0;
			}

			&.focused .carouselTestItem  {
				.slideNumber {
					color: white;
					text-shadow: 0 0 5px rgba(0,0,0,0.5);
					opacity: 1;

				}

				.text {
					transform: translateY(0%);
				}
			}
		}

		.carouselArrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			background: linear-gradient(#f0f0f0, #cacaca);
			border: 1px solid #b0b0b0;
			border-radius: 40px;
			box-shadow: inset 0 1px 0 0 white;
			z-index: 1;

			&:after {
				position: absolute;
				border: 7px solid transparent;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&.back {
				left: -20px;
				&:after {
					border-right-color: #444444;
					margin-left: -5px;
				}
			}

			&.forward {
				right: -20px;
				&:after {
					border-left-color: #444444;
					margin-left: 5px;
				}
			}
		}

		.customDots {
			margin-top: 10px;
			background: beige;
			border: 1px solid #dcdcbd;
			padding: 10px;
		}
	}
}